@media screen and (max-width: 1015px) {
    .offer-list-item {
        grid-template-columns: 1fr 1fr;
    }
    .artist-card {
        width: 30%;
    }
} 

@media screen and (min-width: 1015px) {
    .artist-card {
        width: 20%;
    }
}